/*
=============== 
Variables
===============
*/

@import url(https://fonts.googleapis.com/css?family=Roboto:500);

:root {
  --clr-green: #18a689;
  --clr-grey-1: #102a42;
  --clr-grey-5: #617d98;
  --clr-grey-10: #f1f5f8;
  --clr-white: #fff;
  --clr-orange: #ff9814;
  --clr-orange-dark: #e0850d;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --large-screen-width: 1170px;
  --small-screen-width: 90vw;
  --fixed-width: 55rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
	--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.3rem;
}
p{
  font-size: 1.15rem;
  margin-bottom: 1.25rem;
}
body {
  font-size: 1rem;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  line-height: 1;
  margin-bottom: 0.75rem;
}



/* NavHeader*/

nav {
  padding: 1.25rem 2rem 0.65rem 2rem;
  margin: 0 1rem;
  border-bottom: 0.2rem solid var(--clr-orange);
}

nav svg {
  width: 30px;
  color: var(--clr-orange);
}

.nav-center {
  max-width: var(--fixed-width);
  width: 100%;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.nav-center h3{
  border-bottom: 0.2rem solid var(--clr-grey-10);
  padding-bottom: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.nav-container a{
  color: var(--clr-grey-1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  padding-bottom: 0.3rem;
  border-bottom: 0.2rem solid var(--clr-grey-10);
}

.nav-container a.active{
  border-bottom: 0.2rem solid var(--clr-orange);
}

#logout{
  border-bottom: 0.2rem solid var(--clr-grey-10);
}

#menuicon{
  border-bottom: 0.2rem solid var(--clr-grey-10);
}

#logout:hover{
  border-bottom: 0.2rem solid var(--clr-orange);
}

.nav-container a:hover{
  border-bottom: 0.2rem solid var(--clr-orange);
}

/* Builder Container*/

.bulider-container{
  padding: 0 1rem;
}

/* Quizes Page*/

.quizes-container{
    width: 90vw;
    margin: 2rem auto;
    max-width: 45rem;
}

.single-quiz{
  padding: 1.7rem 2rem;
  background: var(--clr-grey-10);
	border-radius: var(--radius);
	margin: 2rem 0;
	box-shadow: var(--light-shadow);
}

.single-quiz:hover{
  box-shadow: var(--dark-shadow);
}

.quiz-title{
  display: flex;
  justify-content: space-between;
  gap: 0.8rem;
  margin-bottom: 0.5rem;
}

.quiz-title h4{
  letter-spacing: 0.05rem;
}

.quiz-body{
  padding: 0 1rem;
}

.quiz-desc{
  font-weight: 400;
  color: var(--clr-grey-5);
  overflow-wrap: break-word;
}

.quiz-desc span{
  font-size: 1rem;
  color: var(--clr-orange);
}

.quiz-bottom{
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  gap: 0.3rem;
}

.quiz-start , .quiz-delete{
  background-color: var(--clr-orange);
  color: var(--clr-grey-10);
  padding: 0.5rem 1rem;
  border-radius: var(--radius);
  cursor: pointer;
}

.quiz-start:hover , .quiz-delete:hover{
  background-color: var(--clr-orange-dark);
}

/* GOOGLE LOGIN PAGE */

.google-login{
  height: 320px;
  display: grid;
  place-content: center;
}

.google-login-container{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 280px;
  text-align: center;
  width: 90vw;
  box-shadow: var(--light-shadow);
}

.google-login-container:hover{
  box-shadow: var(--dark-shadow);
}

.google-login-container p {
  color: var(--clr-grey-5);
  font-size: 1.1rem;
  font-weight: 600;
}

.google-btn {
  width: 184px;
  height: 42px;
  background-color: #4285f4;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.google-btn .google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  background-color: #fff;
}
.google-btn .google-icon {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
}
.google-btn .btn-text {
  float: right;
  margin: 11px 11px 0 0;
  color: #fff;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: "Roboto";
}
.google-btn:hover {
  box-shadow: 0 0 6px #4285f4;
}
.google-btn:active {
  background: #1669f2;
}


/* Modal on delete*/

.modal-container, .modal-container-sidemenu{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  background: var(--clr-grey-10);
  width: 80vw;
  max-width: 350px;
  border-radius: var(--radius);
  padding: 2rem 1rem;
  text-align: center;
}

.modal h4{
  margin-bottom: 3rem;
  line-height: 1.5rem;
}

.btn-container{
  display: flex;
  justify-content: space-around;
}

.confirm-btn , .undo-btn{
  background-color: var(--clr-orange);
  font-size: 1rem;
  font-weight: 600;
  color: var(--clr-grey-10);
  border-radius: var(--radius);
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.undo-btn{
  background-color: var(--clr-green);
}

.confirm-btn:hover , .undo-btn:hover{
  background-color: var(--clr-orange-dark);
}

/* SideBar menu */

.modal-container-sidemenu{
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.sidemenu{
  background-color: var(--clr-grey-10);
  border-bottom-left-radius: var(--radius);
  border-top-left-radius: var(--radius);
  padding: 1rem 2rem 4rem 2rem;
}

.emptydiv{
  height: 20px;
}

.sidemenu svg {
  width: 30px;
  color: var(--clr-orange);
}

.xicon{
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.sidemenu a{
  color: var(--clr-grey-1);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2px;
  padding-bottom: 0.3rem;
  border-bottom: 0.2rem solid var(--clr-grey-10);
}

.sidemenu a.active{
  border-bottom: 0.2rem solid var(--clr-orange);
}

.sidemenu a:hover{
  border-bottom: 0.2rem solid var(--clr-orange);
}



/* CSS below 800px*/

@media screen and (max-width: 800px) {
  h1,
  h2,
  h3,
  h4 {
    letter-spacing: var(--spacing);
    line-height: 1.25;
    margin-bottom: 0.75rem;
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 1rem;
  }
  p{
    font-size: 1rem;
    margin-bottom: 1.25rem;
  }

  /*Classes changes*/
  nav{
    margin: 0 0.5rem;
  }
  .bulider-container{
    padding: 0 0.5rem;
  }
  .quiz-body{
    padding: 0 0.5rem;
  }
  .quiz-bottom{
    padding: 0 0.5rem
  }
  .quiz-desc span{
    font-size: 0.9rem;
  }
  .quiz-start , .quiz-delete{
    padding: 0.3rem 0.6rem;
  }
  .modal h4{
    margin-bottom: 2rem;
  }
  .confirm-btn , .undo-btn{
    font-size: 0.9rem;
    padding: 0.3rem 0.6rem;
  }
}

@media screen and (max-width: 400px) {
  nav{
    margin: 0rem;
  }
  .bulider-container{
    padding: 0rem;
  }
}